In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

data = pd.read_csv('sappelli_data\sappelli_data_act1.csv', sep=',')
data.head()

<>:5: SyntaxWarning: invalid escape sequence '\s'
<>:5: SyntaxWarning: invalid escape sequence '\s'
C:\Users\alexi\AppData\Local\Temp\ipykernel_24756\1511602607.py:5: SyntaxWarning: invalid escape sequence '\s'
  data = pd.read_csv('sappelli_data\sappelli_data_act1.csv', sep=',')

      Act1                                               body
0    greet  It was cute!\tGenia FitzGerald\t10/10/2000 03:...
1  deliver  It s really all Genia s fault, she goes to lun...
2  request  I have not heard from them yet, but I will ret...
3  deliver  http://www.acmc.uq.edu.au/~gwd/EnergyExchange....
4  request  please put on calendar---------------------- F...

In [4]:
# rename columns

data = data.rename(columns={'Act1': 'label'})
data = data.rename(columns={'body': 'text'})

data.describe()

          label                                               text
count       570                                                570
unique        8                                                546
top     deliver  We have received an executed Second Amendment ...
freq        297                                                  4

In [6]:
# encode the labels to integers from 0 to 7

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

data['label'] = le.fit_transform(data['label'])
data.head()

   label                                               text
0      3  It was cute!\tGenia FitzGerald\t10/10/2000 03:...
1      2  It s really all Genia s fault, she goes to lun...
2      7  I have not heard from them yet, but I will ret...
3      2  http://www.acmc.uq.edu.au/~gwd/EnergyExchange....
4      7  please put on calendar---------------------- F...

In [7]:
# save to csv

data.to_csv('sappelli_data\sappelli_data_act1_encoded.csv', index=False)

<>:3: SyntaxWarning: invalid escape sequence '\s'
<>:3: SyntaxWarning: invalid escape sequence '\s'
C:\Users\alexi\AppData\Local\Temp\ipykernel_24756\392477891.py:3: SyntaxWarning: invalid escape sequence '\s'
  data.to_csv('sappelli_data\sappelli_data_act1_encoded.csv', index=False)