In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

results = pd.read_csv('sappelli_data\sappelli_results_clean.csv', sep=';')
emails = pd.read_csv('sappelli_data\sappelli_emails.csv', sep=',')

<>:5: SyntaxWarning: invalid escape sequence '\s'
<>:6: SyntaxWarning: invalid escape sequence '\s'
<>:5: SyntaxWarning: invalid escape sequence '\s'
<>:6: SyntaxWarning: invalid escape sequence '\s'
C:\Users\alexi\AppData\Local\Temp\ipykernel_2884\3355689048.py:5: SyntaxWarning: invalid escape sequence '\s'
  results = pd.read_csv('sappelli_data\sappelli_results_clean.csv', sep=';')
C:\Users\alexi\AppData\Local\Temp\ipykernel_2884\3355689048.py:6: SyntaxWarning: invalid escape sequence '\s'
  emails = pd.read_csv('sappelli_data\sappelli_emails.csv', sep=',')

In [28]:
results.head()

,Id1,Act1A1,Act1A2,Act2A1,Act2A2,ReasA1,ReasA2,REA1,REA2,NumTA1,...,T3A1,T3A2,T3SA1,T3SA2,T3TA1,T3TA2,T3TyA1,T3TyA2,T3SubjA1,T3SubjA2
0,103944,greet,greet,{},{},personal,personal,accountable non-answer,ignore,0,...,{},{},NaN,NaN,NaN,NaN,NaN,NaN,{},{}
1,33081,deliver,request,{},{},administrative procedure,internal collaboration,accountable non-answer,postponed reply,1,...,{},{},NaN,NaN,NaN,NaN,NaN,NaN,{},{}
2,103941,deliver,deliver,{},propose,personal,personal,accountable non-answer,ignore,0,...,{},{},NaN,NaN,NaN,NaN,NaN,NaN,{},{}
3,103860,deliver,remind,{},{},administrative procedure,legal procedure,immediate reply,immediate reply,1,...,{},{},NaN,NaN,NaN,NaN,NaN,NaN,{},{}
4,321253,commit,deliver,{},{},employment arrangements,personal,postponed reply,ignore,1,...,{},{},NaN,NaN,NaN,NaN,NaN,NaN,{},{}

In [29]:
# rename column Id1 as mid
results = results.rename(columns={'Id1': 'mid'})

In [30]:
emails.head()

,mid,sender,date,message_id,subject,body,folder
0,934,a..howard@enron.com,2001-11-19,<27236888.1075860884316.JavaMail.evans@thyme>,RE: Panda Energy,Kevin:Sorry it has taken so long to get back t...,"Kevin_Hyatt_Mar2002Hyatt, KevinProjectsSun Devil"
1,1197,a..howard@enron.com,2001-11-19,<10014535.1075861772428.JavaMail.evans@thyme>,RE: Panda Energy,Kevin:Sorry it has taken so long to get back t...,"KHYATT (Non-Privileged)Hyatt, KevinInbox"
2,1301,kevin.hyatt@enron.com,2001-11-02,<11358906.1075861770750.JavaMail.evans@thyme>,Panda Energy,"Kevin--\tAs we discussed yesterday, Panda Ener...","KHYATT (Non-Privileged)Hyatt, KevinSent Items"
3,1473,kevin.hyatt@enron.com,2002-02-11,<17125175.1075860873767.JavaMail.evans@thyme>,RE: TW Credit Rating,"thanks, that looks great! -----Original Messag...","Kevin_Hyatt_Mar2002Hyatt, KevinSent Items"
4,1474,kevin.hyatt@enron.com,2002-02-11,<30093596.1075860873746.JavaMail.evans@thyme>,TW Credit Rating,"Kevin, please review the attached and add any...","Kevin_Hyatt_Mar2002Hyatt, KevinSent Items"

In [31]:
# merge data using mid and Id1 as keys
data = pd.merge(results, emails, on=['mid'], how='inner')

In [32]:
data.head()

,mid,Act1A1,Act1A2,Act2A1,Act2A2,ReasA1,ReasA2,REA1,REA2,NumTA1,...,T3TyA1,T3TyA2,T3SubjA1,T3SubjA2,sender,date,message_id,subject,body,folder
0,103944,greet,greet,{},{},personal,personal,accountable non-answer,ignore,0,...,NaN,NaN,{},{},tana.jones@enron.com,2000-10-10,<13973474.1075847200439.JavaMail.evans@thyme>,Re: HOTDOG !This is sooo adorable!,It was cute!\tGenia FitzGerald\t10/10/2000 03:...,Tanya_Jones_Dec2000Notes FoldersSent
1,33081,deliver,request,{},{},administrative procedure,internal collaboration,accountable non-answer,postponed reply,1,...,NaN,NaN,{},{},richard.b.sanders@enron.com,2001-02-28,<7857698.1075853272620.JavaMail.evans@thyme>,Re: HEOF,"Frankly, I don t remember it. Ask Linda.\tAndr...",Richard_Sanders_Oct2001Notes FoldersSent
2,103941,deliver,deliver,{},propose,personal,personal,accountable non-answer,ignore,0,...,NaN,NaN,{},{},tana.jones@enron.com,2000-10-10,<10528202.1075847200508.JavaMail.evans@thyme>,Re: HOTDOG !This is sooo adorable!,"It s really all Genia s fault, she goes to lun...",Tanya_Jones_Dec2000Notes FoldersSent
3,103860,deliver,remind,{},{},administrative procedure,legal procedure,immediate reply,immediate reply,1,...,NaN,NaN,{},{},tana.jones@enron.com,2000-10-18,<23700686.1075847202393.JavaMail.evans@thyme>,Re: EnronOnline LLC and Enron North America Corp.,JustinI ve been running around trying to deter...,Tanya_Jones_Dec2000Notes FoldersSent
4,321253,commit,deliver,{},{},employment arrangements,personal,postponed reply,ignore,1,...,NaN,NaN,{},{},j.kaminski@enron.com,2001-07-23,<30497387.1075863431760.JavaMail.evans@thyme>,RE: Christian,"Paul, I hope you feel better. I have seen the ...","VKAMINS (Non-Privileged)Kaminski, Vince JSent ..."

In [33]:
# save data as csv
data.to_csv('sappelli_data\sappelli_data.csv', sep=';', index=False)

<>:2: SyntaxWarning: invalid escape sequence '\s'
<>:2: SyntaxWarning: invalid escape sequence '\s'
C:\Users\alexi\AppData\Local\Temp\ipykernel_2884\1349263639.py:2: SyntaxWarning: invalid escape sequence '\s'
  data.to_csv('sappelli_data\sappelli_data.csv', sep=';', index=False)