In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

data = pd.read_csv('sappelli_data\sappelli_data_numta.csv', sep=',')
data.head()

<>:5: SyntaxWarning: invalid escape sequence '\s'
<>:5: SyntaxWarning: invalid escape sequence '\s'
C:\Users\alexi\AppData\Local\Temp\ipykernel_1268\2766678753.py:5: SyntaxWarning: invalid escape sequence '\s'
  data = pd.read_csv('sappelli_data\sappelli_data_numta.csv', sep=',')
C:\Users\alexi\AppData\Local\Temp\ipykernel_1268\2766678753.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

   NumTA                                               body
0      0  It was cute!\tGenia FitzGerald\t10/10/2000 03:...
1      1  Frankly, I don t remember it. Ask Linda.\tAndr...
2      0  It s really all Genia s fault, she goes to lun...
3      1  Are you the right person to handle these detai...
4      1  I have not heard from them yet, but I will ret...

In [4]:
# rename columns

data = data.rename(columns={'NumTA': 'label'})
data = data.rename(columns={'body': 'text'})

data.head()

   label                                               text
0      0  It was cute!\tGenia FitzGerald\t10/10/2000 03:...
1      1  Frankly, I don t remember it. Ask Linda.\tAndr...
2      0  It s really all Genia s fault, she goes to lun...
3      1  Are you the right person to handle these detai...
4      1  I have not heard from them yet, but I will ret...

In [5]:
# save to csv

data.to_csv('sappelli_data\sappelli_data_numta_encoded.csv', index=False)

<>:3: SyntaxWarning: invalid escape sequence '\s'
<>:3: SyntaxWarning: invalid escape sequence '\s'
C:\Users\alexi\AppData\Local\Temp\ipykernel_1268\3235489300.py:3: SyntaxWarning: invalid escape sequence '\s'
  data.to_csv('sappelli_data\sappelli_data_numta_encoded.csv', index=False)